body{
  margin: 0;
}

.about-me{
  height: 400px;
  width: 50%;
  text-align: center;
  margin: 100px auto 20px auto;
  font-family: sans-serif;
  /* border: black solid 1px; */
}

.navbar {
  overflow: hidden;
  background-color: #006699;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #686868;
    color: white;
}

.projects{
  height: 900px;
  width: 70%;
  text-align: center;
  margin: 20px auto;
  font-family: sans-serif;
  /* border: black solid 1px; */
}

.all-projects{
  /* border: black solid 1px; */
  width: 70%;
  margin: 0 auto;
}

.project-buttons{
  background-color: orange;
  width: 40%;
  height: 100px;
  display: inline-block;
  margin: 10px 30px;
}

.footer{
  font-family: sans-serif;
  width: 100%;
  text-align: right;
  font-size: 15px;
  margin-top: 50px;
}
