body{
  background-color: #686868;
  margin: 0;
  color: white;
}

.about-me{
  height: 400px;
  width: 50%;
  text-align: center;
  margin: 100px auto;
  border: black solid 1px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.projects{
  height: 1500px;
  width: 50%;
  text-align: center;
  margin: 100px auto;
  border: black solid 1px;
}

.all-projects{
  border: black solid 1px;
  width: 70%;
  margin: 0 auto;
}

.project1{
  background-color: orange;
  width: 40%;
  height: 100px;
  top: 0;
}
